mappings analysieren

In [2]:
import pandas as pd

In [3]:
csv_mappings = "C:/Users/Harry/Documents/GitHub/MasterThesis/Programming/analysis/dataframes/df_mappings.csv"

df_mappings = pd.read_csv(csv_mappings)

In [9]:
mappings_count_all = len(df_mappings)
mappings_count = mappings_count_all/ 3
mappings_count_per_user_all = df_mappings.groupby('user_id').size()
mappings_count_per_user = mappings_count_per_user_all /3

display(mappings_count_all)
display(mappings_count)
display(mappings_count_per_user_all)
display(mappings_count_per_user)

618

206.0

user_id
1     18
2     78
3     66
4     27
5     42
6     51
7     75
8     96
9     33
10    30
11    24
12    78
dtype: int64

user_id
1      6.0
2     26.0
3     22.0
4      9.0
5     14.0
6     17.0
7     25.0
8     32.0
9     11.0
10    10.0
11     8.0
12    26.0
dtype: float64

In [6]:
df_mappings['group'] = df_mappings.groupby(['user_id', 'timestamp']).cumcount() // 3

grouped = df_mappings.pivot_table(index=['user_id', 'timestamp', 'group'], columns='key', values='mapped_to', aggfunc='first').reset_index()

grouped['mapping_combination'] = grouped[['input_1', 'input_2', 'input_3']].apply(tuple, axis=1)

unique_combinations_per_user = grouped.groupby('user_id')['mapping_combination'].nunique().rename("unique_combinations_per_user")

total_unique_combinations = grouped['mapping_combination'].nunique()

print(unique_combinations_per_user)
print(total_unique_combinations)
display(grouped.head(100))

user_id
1      6
2     20
3     17
4      5
5      3
6     11
7     16
8     19
9      7
10     8
11     6
12    15
Name: unique_combinations_per_user, dtype: int64
129

key,user_id,timestamp,group,input_1,input_2,input_3,mapping_combination
0,1,2024-09-30 08:58:41,0,Alt+Tab,NaN,NaN,"(Alt+Tab, nan, nan)"
1,1,2024-09-30 08:59:39,0,Alt+Tab,print,NaN,"(Alt+Tab, print, nan)"
2,1,2024-09-30 09:00:22,0,Alt+Tab,win+Left,NaN,"(Alt+Tab, win+Left, nan)"
3,1,2024-09-30 09:00:55,0,Alt+Tab,win+Left,win+Right,"(Alt+Tab, win+Left, win+Right)"
4,1,2024-10-01 16:23:11,0,Alt+Tab,Ctrl+t,win+Right,"(Alt+Tab, Ctrl+t, win+Right)"
...,...,...,...,...,...,...,...
95,7,2024-10-14 12:05:06,0,Alt+Tab,Ctrl+Tab,Enter,"(Alt+Tab, Ctrl+Tab, Enter)"
96,7,2024-10-15 10:33:55,0,Alt+Tab,NaN,fn,"(Alt+Tab, nan, fn)"
97,7,2024-10-15 10:36:03,0,Alt+Tab,NaN,>,"(Alt+Tab, nan, >)"
98,7,2024-10-15 10:38:12,0,Alt+Tab,win+Tab,>,"(Alt+Tab, win+Tab, >)"
99,7,2024-10-15 10:46:25,0,Alt+Tab,a,n,"(Alt+Tab, a, n)"